* {
  margin: 0;
  padding: 0;
}
.contact-me {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me p{
    
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
}
.contact-me .button-two{
    background-color: #f90040;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 25px;
    transition: transform 0.4s;
    margin-top: 25px;
}
.contact-me .button-two:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #f90040;
}
